eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    
server:
  port: 8763
 # context-path: /eruka-client
spring:
  application:
    name: service-hi